<% include partials/header %>

<!--Home-Section-->
<header id="home-section">
  <div class="dark-overlay">
    <div class="inner-home container">
      <div class="row">
        <div class="col-lg-8 d-none d-lg-block">
          <h1 class="display-4">
            A platform to learn new
            <strong>algorithms and data structure</strong>
          </h1>
        </div>
        <div class="col-lg-4">
          <div class="card bg-primary text-center card-form">
            <div class="card-body">
              <h3>Sign up Today</h3>
              <p>Please fill out this form to register</p>
              <form action="/api/users" method="POST">
                <div class="form-group">
                  <input
                    type="text"
                    name="name"
                    class="form-control form-control-lg"
                    placeholder="Username"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    name="username"
                    class="form-control form-control-lg"
                    placeholder="Email"
                  />
                </div>
                <div class="form-group">
                  <input
                    id="password"
                    type="password"
                    name="password"
                    class="form-control form-control-lg"
                    placeholder="Password"
                  />
                </div>
                <div class="form-group">
                  <input
                    id="confirm-password"
                    type="password"
                    class="form-control form-control-lg"
                    placeholder="Confirm Password"
                  />
                  <div class="invalid-feedback">
                    Password does not matched
                  </div>
                </div>
                <input
                  type="submit"
                  value="Submit"
                  class="btn btn-outline-light btn-block"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<% include partials/footer %>
